html, body {
  min-height: 100%;
  display: flex;
/*A flex display allows the content of the webpage to be seen across different displays hence its flex or dynamic name. It best fills up the space available or shrinks to avoid overflow. This provides a better user experience*/
  flex-direction: column;
/*This property means that the content will be flexible as a column (vertically)*/
  font-weight: 300;
/*font-weight sets the weight or boldness of the font*/
  line-height: 1.5;
/*line-height sets the space in between the lines of text*/
  background-color: darkslategray;
/*back-ground color sets the back ground color of the page*/
}

body {
  font-family: 'Lato', sans-serif;
  background-position: center top;
  background-size: cover;
  margin: 0;
}

.page-title {
  display: inline;
  padding: 20px;
  font-weight: 100;
  color: whitesmoke;
    font: normal normal normal 90px/1.4em cormorantgaramond-semibold,cormorantgaramond,'cormorant garamond',serif;
}

.profile {
    display: inline;
    width: 100px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 20px;
}

.som {
    display: inline;
    float: right;
    width: 22em;
    object-fit: cover;
}

.workExperience {
    width: 4em;
    padding: 40px;
    display: inline;
    position: relative;
    /*relative position means that the image will change relatively to the position of the margin*/
}

.workExperienceListText {
    zoom: 0.75;
    display: inline-block;
    position: relative;
    color: whitesmoke;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

.backgroundText{
    margin-left: 40px;
    margin-top: 40px;
    color: white;
    font: garamond;
}



ul {
    list-style: none;
    margin-left: 20px;
}
/* FOOTER NAVIGATION */

nav {
  background-color: white;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav li a {
    margin-right: 30px;
    padding: 8px 18px;
}

nav li a:active {
  position: relative;
  top: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}
